@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue à la gestion de l'équipement</h1>
    <br/>
    <p><a class="nav-link" asp-page="/Utilisateurs/Index">Gestion des utilisateurs</a></p>
    <p><a class="nav-link" asp-page="/Equipements/Index">Gestion des équipements</a></p>
    <p><a class="nav-link" asp-page="/Reservations/Index">Gestion des réservations</a></p>
</div>
